* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Helvetica Neue_Medium";
    src: url(../assets/fonts/HelveticaNeue-Medium.otf);
    font-weight: 400;
}

@font-face {
    font-family: "Helvetica Neue_Bold";
    src: url(../assets/fonts/HelveticaNeue-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: "Helvetica Neue_Light";
    src: url(../assets/fonts/HelveticaNeue-Light.otf);
    font-weight: 300;
}


body {
    font-family: "Helvetica Neue_Medium", sans-serif;
    background-color: #fff;
}

header {
    font-family: "Helvetica Neue_Medium";
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #DBDBDB 1px solid;
}

.above_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 100%;
    font-size: 18px;

}

.user_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}






.user_info > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    border-left: #DBDBDB 1px solid;
    
}

.timer {
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: "Helvetica Neue_Light";

}

.user_category {
    font-family: "Helvetica Neue_Medium";
}

.refresh_btn {
    padding: 0 20px;
}
.nn_logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    padding-left: 27px;
    padding-right: 35px;
}


.main {
    display: flex;
    flex-direction: row;
    gap: 0;
}
.menu {
    display: flex;
    flex-direction: column;
    color: #EEEEEE;
    font-family: "Helvetica Neue_Light";
    font-weight: 300;
    font-size: 14px;
    width: 240px;
}
.menu_link {
    padding: 17px 0px 17px 42px;
    background-color: #222D32;
}
.main_header {
    background-color: #1E282C;
}


.menu_link.first {
    padding-top: 19px;
}

 .grid {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 13px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    margin-top: 30px;
    
  }

  .grid_header, .grid_row{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
  }

  .grid_header {
    padding-bottom: 5px;
  }


  .grid_row:last-child {
    border-bottom: none;
  }

  .grid-cell {
    flex: 1;
    padding: 2px 6px;
  }

  .grid-row:hover {
    background-color: #fafafa;
  }