@font-face {
    font-family: "Helvetica Neue_Medium";
    src: url(../assets/fonts/HelveticaNeue-Medium.otf);
    font-weight: 400;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #ECF0F5;
    font-family: "Helvetica Neue_Medium";
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form_container {
    padding-top: 40px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    height: 80%;
    max-height: 500px;
}
.descr {
    margin-top: 50px;
    font-size: 28px;
}

button.submit_button {
    
    background-color: #004ea8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}



#description {
    width: 80%;
    resize: none;
    box-sizing: border-box;
    height: 300px;
    min-height: 80px;      /* фиксируешь минимальную высоту */
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}
