input#description {
    width: 500px;
    height: 150px;
}
.form_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.submit_button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}